body{
    background-color: #2D3A3A;
  }

#intro-card{
    display:block;
    align-items: center;
    min-width: 60%;
    height: 60vh;
}

h1{
    font-family: 'SF Pro', sans-serif;
    margin-left:40px;
    color:white;
    font-size: 10rem;
}

h2{
    font-family: 'SF Pro', sans-serif;
    margin-left:40px;
    color:white;
    font-size: 4rem;

}

.navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    color:#fff;
    padding: 20px;
    height:40px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 20px;
    font-family: 'SF Pro', sans-serif;
    font-weight: 400;
    color: white;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

#about-me{
    background-color: white;
    height:100vh;
}

#about-me p{
    font-family: 'SF Pro', sans-serif;
    font-weight:900;
    color:#2D3A3A;
    font-size: 4rem;
    margin-left: 120px;
    margin-right:120px;
    padding-top: 250px;
}