body, h1, h2, h3, p, ul{
    margin:0;
    padding:0;
}

@font-face{
    font-family: TASAOrbiterVF;
    src: url('TASAOrbiterVF.woff2'), url('TASAOrbiterVF.woff2') format('woff2');}

@font-face{
    font-family: TASAOrbiterDisplay-Bold;
    src: url('TASAOrbiterDisplay-Bold.otf'), url('TASAOrbiterDisplay-Bold.otf') format('otf');}

@font-face{
    font-family: TASAOrbiterDisplay-Black;
    src: url('TASAOrbiterDisplay-Black.otf'), url('TASAOrbiterDisplay-Black.otf') format('otf');}    

a {
    text-decoration: none;
}

#title{
    transition: 0.1s;
}

#navbar{
    display:flex;
    flex-direction: row-reverse;
}

#navbar ul {
    list-style: none;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    padding: 20px;
}

#line{
    border-top: 1px solid gray;
}

#main-content{
    display:flex;
    justify-content: space-between;
}

#right ul{
    list-style: none;
    padding: 120px 140px 60px 90px;

}

#contact{
    padding-top: 60px;
}

button {
    font-family: 'Inter', sans-serif;
    margin-left:90px;
    padding:10px 20px;
    font-size: 16px;
    border:none;
    background-color: black;
    color:white;
    position:absolute;
}

button:hover{
    padding: 12px 24px 12px 24px;
    transition: 0.4s;
}

button a {
    color:white;
    text-decoration: none;
}

button a:visited{
    color:white;
}


h1{
    font-family: 'TASAOrbiterDisplay-Bold', sans-serif;
    font-size: 90px;
    margin: 200px 90px 60px 90px;
    letter-spacing: 2px;
    background: linear-gradient(to top, #E4C1F9 30%, transparent 15%);
}

p{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    max-width:500px;
    padding-left:90px;
    line-height: 30px;
}

.big-link{
    font-family: 'TASAOrbiterDisplay-Bold', sans-serif;
    font-size: 150px;
    padding-bottom: 25px;
    text-decoration: none;
}

.biglink a{
    color:black;
    text-decoration: none;
}

a:visited{
    color:black;
}

#git > a:hover{
    color:white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:black;
}

#twit > a:hover{
    color:white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:#26a7de;
}

#link > a:hover{
    color:white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:#0072b1;
}

